@model OrangeBricks.Web.Controllers.Offers.OffersOnPropertyViewModel

@{
    ViewBag.Title = "Offers on Your Property";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>Here you can see the offers that have been made on your property.</p>